.logo-top {
    width: 10vw;
    margin: 0 auto 2% auto;

    @media screen and (max-width: 812px) and (orientation: portrait) {
        width: 15vw;
    }

    & img {
        margin-top: 35vh;
        max-width: 100%;
        animation: headsUp ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            transition: all 0.3s ease;
        }
    }
}

.cv-photo {
    width: 34%;
    visibility: hidden;

    @media screen and (max-width: 767px) {
        width: 85%;
        margin-top: 1em;
    }

    @media screen and (max-width: 1366px) and (orientation: landscape) {
        width: 30%;
    }

    &.animate-img {
        animation: cvImg ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    & img {
        position: relative;
        margin-top: 0;
        max-width: 100%;
        border-radius: 6px;
    }
}

.photo-logo {
    width: 28%;
    margin-top: -16%;
    margin-left: 87%;
}