.slider-wrapper {
    width: 35%;
    height: auto;
    display: none;
    margin: auto;
    border: 1px solid #DEDED6;
    border-radius: 6px;
    background: #2b2b2a;

    @media screen and (max-width: 767px) and (orientation: portrait) {
      width: 95%;
      margin-left: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
  }

.slider-item {
    margin: auto;
    border-radius: 6px;
    background: #2b2b2a;
    padding: .8rem;
}
  
  .swiper-container-vertical>.swiper-wrapper {
    flex-direction: column
  }
  
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
  }
  
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0)
  }
  
  .swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
  }
  
  .swiper-container-pointer-events {
    touch-action: pan-y
  }
  
  .swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x
  }
  
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    transition-property: transform;
  
    & img {
      max-width: 100%;
    }
  }
  
  .swiper-slide-invisible-blank {
    visibility: hidden
  }
  
  .swiper-container-autoheight,
  .swiper-container-autoheight .swiper-slide {
    height: auto
  }
  
  .swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height
  }
  
  .swiper-container-css-mode>.swiper-wrapper {
    overflow: auto;
    -ms-overflow-style: none
  }
  
  .swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
  }
  
  .swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
  }
  
  :root {
    --swiper-navigation-size: 44px
  }
  
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10
  }
  
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
  }
  
  .swiper-pagination-bullet {
    width: .5rem;
    height: .5rem;
    display: inline-block;
    border-radius: 50%;
    background: white;
    opacity: .6;
  }
  
  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none
  }
  
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform, .2s left
  }
  
  .swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform, .2s right
  }
  
  .swiper-pagination-lock {
    display: none
  }
  
  .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
  }
  
  .swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
  }
  
  .swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
  }
  
  .swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
  }
  
  .swiper-container-fade .swiper-slide-active,
  .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
  }