.colleagues {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 10% auto;

    @media screen and (max-width: 1023px) and (orientation: portrait) {
        flex-direction: column;
    }

    @media screen and (max-width: 811px) and (orientation: landscape) {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 812px) and (max-width: 1366px) and (orientation: landscape) {
        width: 90%;
    }
}

.teammate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16%;
    height: 30em;
    border: 1px solid #DEDED6;
    border-radius: 6px;
    background: #2b2b2a;
    padding: .8rem;

    &.animate-team {
        animation: fadeIn ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        visibility: hidden;

        &:nth-child(1) {
            animation-delay: 0s;
        }

        &:nth-child(2) {
            animation-delay: 0.5s;
        }

        &:nth-child(3) {
            animation-delay: 1s;
        }

        &:nth-child(4) {
            animation-delay: 1.5s;
        }

        &:nth-child(5) {
            animation-delay: 2s;
        }

        @media screen and (max-width: 1023px) and (orientation: portrait) {
            flex-direction: row;
            width: 90%;
            height: 7.4em;
            margin-bottom: .5em;
        }

        @media screen and (max-width: 811px) and (orientation: landscape) {
            flex-direction: row;
            width: 95%;
            height: 7.4em;
            margin-bottom: .5em;
        }

        @media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
            height: 24em;
        }
    }
}

.portrait {
    background: transparent;

    @media screen and (max-width: 1023px) and (orientation: portrait) {
        width: 30%;
    }

    @media screen and (max-width: 811px) and (orientation: landscape) {
        width: 30%;
    }

    & img {
        max-width: 100%;
        border-radius: 6px;

        &:hover {
            transition: 0.3s ease;
            opacity: 0.3;
        }

        @media screen and (max-width: 1023px) and (orientation: portrait) {
            max-height: 100%;
        }

        @media screen and (max-width: 811px) and (orientation: landscape) {
            max-height: 100%;
        }
    }
}

.txt {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    @media screen and (max-width: 1023px) and (orientation: portrait) {
        width: 60%;
        margin-top: 0;
    }

    @media screen and (max-width: 811px) and (orientation: landscape) {
        width: 60%;
        margin-top: 0;
    }
}