@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}

body {
  background-image: url("../img/G68b-2.svg");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.team-all {
  min-height: 100vh;
  padding: 10px 60px;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .team-all {
    padding: 10px;
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  .team-all {
    padding: 10px;
  }
}

.team-single {
  min-height: 100vh;
  padding: 20px 100px;
}

@media screen and (max-width: 1024px) {
  .team-single {
    padding: 10px;
  }
}

.colleagues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 10% auto;
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .colleagues {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 811px) and (orientation: landscape) {
  .colleagues {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 812px) and (max-width: 1366px) and (orientation: landscape) {
  .colleagues {
    width: 90%;
  }
}

.teammate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 16%;
  height: 30em;
  border: 1px solid #DEDED6;
  border-radius: 6px;
  background: #2b2b2a;
  padding: .8rem;
}

.teammate.animate-team {
  -webkit-animation: fadeIn ease 2s;
          animation: fadeIn ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}

.teammate.animate-team:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.teammate.animate-team:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.teammate.animate-team:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.teammate.animate-team:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.teammate.animate-team:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .teammate.animate-team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 7.4em;
    margin-bottom: .5em;
  }
}

@media screen and (max-width: 811px) and (orientation: landscape) {
  .teammate.animate-team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    height: 7.4em;
    margin-bottom: .5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
  .teammate.animate-team {
    height: 24em;
  }
}

.portrait {
  background: transparent;
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .portrait {
    width: 30%;
  }
}

@media screen and (max-width: 811px) and (orientation: landscape) {
  .portrait {
    width: 30%;
  }
}

.portrait img {
  max-width: 100%;
  border-radius: 6px;
}

.portrait img:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0.3;
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .portrait img {
    max-height: 100%;
  }
}

@media screen and (max-width: 811px) and (orientation: landscape) {
  .portrait img {
    max-height: 100%;
  }
}

.txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .txt {
    width: 60%;
    margin-top: 0;
  }
}

@media screen and (max-width: 811px) and (orientation: landscape) {
  .txt {
    width: 60%;
    margin-top: 0;
  }
}

.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .cv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .cv {
    width: 95%;
  }
}

.cv-txt-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

@media screen and (max-width: 1023px) {
  .cv-txt-all {
    width: 95%;
    margin-top: 1em;
    margin-left: auto;
  }
}

.cv-txt-01,
.cv-txt-02,
.cv-txt-03 {
  border: 1px solid white;
  border-radius: 6px;
  background: #2b2b2a;
  padding: 1rem;
  height: auto;
}

.cv-txt-01 {
  position: relative;
  margin-left: auto;
  width: 34em;
  z-index: 2;
}

@media screen and (max-width: 1366px) {
  .cv-txt-01 {
    width: 95%;
    margin-left: auto;
  }
}

.cv-txt-02 {
  margin-top: 1em;
  margin-left: 6em;
  width: 34em;
}

@media screen and (max-width: 1366px) {
  .cv-txt-02 {
    width: 95%;
    margin-left: auto;
  }
}

.cv-txt-03 {
  position: relative;
  margin-top: 1em;
  margin-left: auto;
  width: 42em;
  z-index: 1;
}

@media screen and (max-width: 1366px) {
  .cv-txt-03 {
    width: 95%;
    margin-left: auto;
  }
}

.btn-down,
.btn-back,
.scrollToTop {
  color: #DEDED6;
  text-decoration: none;
  font-size: 2.5em;
}

.btn-down:hover,
.btn-back:hover,
.scrollToTop:hover {
  text-decoration: none;
}

.btn-below {
  text-align: center;
  position: relative;
  padding: .5em 0;
}

.btn-down {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  position: static;
}

.btn-back {
  position: fixed;
  top: 10px;
  right: 40px;
}

@media screen and (max-width: 992px) {
  .btn-back {
    right: 10px;
    position: absolute;
  }
}

.scrollToTop {
  position: fixed;
  bottom: 10px;
  right: 40px;
  display: none;
  z-index: 4;
}

@media screen and (max-width: 992px) {
  .scrollToTop {
    right: 10px;
  }
}

h1,
h2,
p,
ul,
.slider-txt,
.leadership-team,
.name,
.position,
.back-to-site {
  font-family: 'Quicksand';
  color: #DEDED6;
}

h1,
h2,
.position {
  border-bottom: 1px solid #DEDED6;
  padding-bottom: 1em;
}

h1,
.leadership-team {
  font-size: calc(20px + 12 * (100vw / 1920));
  font-weight: 600;
}

h2,
.name {
  font-size: calc(14px + 10 * (100vw / 1920));
  font-weight: 600;
}

.name,
.position,
.social-media {
  margin-bottom: .5em;
  text-align: center;
}

.social-media a {
  text-decoration: none;
  color: white;
}

p,
ul,
.slider-txt,
.position,
.back-to-site {
  font-size: calc(9px + 6 * (100vw / 1920));
}

.slider-txt {
  padding: 2em 1em;
}

.position {
  height: 4.2em;
}

.fas,
.fab {
  color: #DEDED6;
}

.leadership-team {
  text-align: center;
  margin: 10px auto;
  -webkit-animation: headsUp ease 2s;
          animation: headsUp ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

.logo-top {
  width: 10vw;
  margin: 0 auto 2% auto;
}

@media screen and (max-width: 812px) and (orientation: portrait) {
  .logo-top {
    width: 15vw;
  }
}

.logo-top img {
  margin-top: 35vh;
  max-width: 100%;
  -webkit-animation: headsUp ease 2s;
          animation: headsUp ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.logo-top img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cv-photo {
  width: 34%;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .cv-photo {
    width: 85%;
    margin-top: 1em;
  }
}

@media screen and (max-width: 1366px) and (orientation: landscape) {
  .cv-photo {
    width: 30%;
  }
}

.cv-photo.animate-img {
  -webkit-animation: cvImg ease 2s;
          animation: cvImg ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cv-photo img {
  position: relative;
  margin-top: 0;
  max-width: 100%;
  border-radius: 6px;
}

.photo-logo {
  width: 28%;
  margin-top: -16%;
  margin-left: 87%;
}

@-webkit-keyframes headsUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headsUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -6em;
    visibility: visible;
  }
  20% {
    opacity: 0;
    margin-top: -6em;
    visibility: visible;
  }
  100% {
    opacity: 1;
    margin-top: 0em;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -6em;
    visibility: visible;
  }
  20% {
    opacity: 0;
    margin-top: -6em;
    visibility: visible;
  }
  100% {
    opacity: 1;
    margin-top: 0em;
    visibility: visible;
  }
}

@-webkit-keyframes cvImg {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  40% {
    opacity: 0;
    margin-left: -100px;
    visibility: visible;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
    visibility: visible;
  }
}

@keyframes cvImg {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  40% {
    opacity: 0;
    margin-left: -100px;
    visibility: visible;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
    visibility: visible;
  }
}

.slider-wrapper {
  width: 35%;
  height: auto;
  display: none;
  margin: auto;
  border: 1px solid #DEDED6;
  border-radius: 6px;
  background: #2b2b2a;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .slider-wrapper {
    width: 95%;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .slider-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.slider-item {
  margin: auto;
  border-radius: 6px;
  background: #2b2b2a;
  padding: .8rem;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide img {
  max-width: 100%;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  -ms-overflow-style: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

:root {
  --swiper-navigation-size: 44px
  ;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: .5rem;
  height: .5rem;
  display: inline-block;
  border-radius: 50%;
  background: white;
  opacity: .6;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: .2s transform, .2s left;
  transition: .2s transform, .2s left;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: .2s transform, .2s right;
  transition: .2s transform, .2s right;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/*# sourceMappingURL=styles.css.map */